<div>
  <h1>ADS Aquilone</h1>
  <button class="btn btn-dark" (click)="showDiv.previous = !showDiv.previous">
    Aggiungi Persona
  </button>
  <div *ngIf="showDiv.previous" class="inserimento-dati">
    <form>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nome" />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Nazionalità" />
        </div>
        <div class="col">
          <mat-form-field class="mat-form-field">
            <mat-label>Genere</mat-label>
            <mat-select
              [(ngModel)]="genere"
              name="genere"
              panelClass="dropdown-panel"
            >
              <mat-option
                *ngFor="let opzione of opzioniGenere"
                [value]="opzione"
              >
                {{ opzione }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Anno di Nascita"
          />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="N° telefono" />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Città" />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Indirizzo" />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Email" />
        </div>

        <hr />

        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Anno di arrivo"
          />
        </div>
        <div class="col">
          <mat-form-field>
            <mat-label>Condiz. di sfruttamento</mat-label>
            <mat-select
              [(ngModel)]="sfruttamento"
              name="sfruttamento"
              panelClass="dropdown-panel"
            >
              <mat-option
                *ngFor="let opzione of opzioniSfruttamento"
                [value]="opzione"
              >
                {{ opzione }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Ha già lavorato altrove"
          />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Altre U.d.S" />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="In quale località"
          />
        </div>

        <hr />

        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Zona operativa"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Luogo operativo"
          />
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Fascia operativa"
          />
        </div>
      </div>
    </form>
  </div>

  <hr />

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Nazionalità</th>
        <th scope="col">Genere</th>
        <th scope="col">Anno di Nascita</th>
        <th scope="col">N° telefono</th>
        <th scope="col">Città</th>
        <th scope="col">Indirizzo</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Claudio</td>
        <td>Italia</td>
        <td>Maschile</td>
        <td>1982</td>
        <td>32323232</td>
        <td>Rovereto</td>
        <td>Via Leditadalnaso</td>
        <td>cicciolina@gmail.com</td>
      </tr>
      <tr>
        <td scope="row">Franco</td>
        <td>Italia</td>
        <td>Maschile</td>
        <td>1982</td>
        <td>32323232</td>
        <td>Rovereto</td>
        <td>Via Leditadalnaso</td>
        <td>cicciolina@gmail.com</td>
      </tr>
    </tbody>
  </table>
</div>
