<div>
  <h1>ADS Aquilone</h1>
  <button class="btn btn-dark" (click)="showDiv.previous = !showDiv.previous">
    Aggiungi Persona
  </button>
  <div *ngIf="showDiv.previous" class="inserimento-dati">
    <form  [formGroup]="fp" (ngSubmit)="save()">
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nome" formControlName= "nome"/>
        </div>
        <div class="col">
          <mat-form-field class="mat-form-field" formControlName="nazionalita">
            <mat-label>Nazionalità</mat-label>
            <mat-select
              [(ngModel)]="nazionalita"
              name="nazionalita"
              panelClass="dropdown-panel"
            >
              <mat-option
                *ngFor="let opzione of opzioniNazionalita"
                [value]="opzione"
              >
                {{ opzione }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="mat-form-field" formControlName="genere">
            <mat-label>Genere</mat-label>
            <mat-select
              [(ngModel)]="genere"
              name="genere"
              panelClass="dropdown-panel"
            >
              <mat-option
                *ngFor="let opzione of opzioniGenere"
                [value]="opzione"
              >
                {{ opzione }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Anno di Nascita"
            formControlName="anno_nascita"
          />
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="N° telefono" formControlName="telefono"/>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Città" formControlName="citta"/>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Indirizzo" formControlName="indirizzo"/>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Email" formControlName="email"/>
        </div>

        <hr />

        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Anno di arrivo"
            formControlName="anno_arrivo"
          />
        </div>
        <div class="col">
          <mat-form-field class="mat-form-field" formControlName="condizioni_sfr">
            <mat-label>Condiz. di sfruttamento</mat-label>
            <mat-select
              [(ngModel)]="sfruttamento"
              name="sfruttamento"
              panelClass="dropdown-panel"
            >
              <mat-option
                *ngFor="let opzione of opzioniSfruttamento"
                [value]="opzione"
              >
                {{ opzione }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="mat-form-field" formControlName="lavorato">
            <mat-label>Ha già lavorato altrove</mat-label>
            <mat-select
              [(ngModel)]="lavorato"
              name="lavorato"
              panelClass="dropdown-panel"
            >
              <mat-option
                *ngFor="let opzione of opzioniLavorato"
                [value]="opzione"
              >
                {{ opzione }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="mat-form-field" formControlName="altre_uds">
            <mat-label>Altre U.d.S </mat-label>
            <mat-select
              [(ngModel)]="altreUds"
              name="altreUds"
              panelClass="dropdown-panel"
            >
              <mat-option
                *ngFor="let opzione of opzioniAltreUds"
                [value]="opzione"
              >
                {{ opzione }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="In quale località"
            formControlName="localita"
          />
        </div>

        <hr />

        <div class="col">
          <mat-form-field class="mat-form-field" formControlName="zona_op">
            <mat-label>Zona Operativa</mat-label>
            <mat-select
              [(ngModel)]="zonaOperativa"
              name="zonaOperativa" 
              panelClass="dropdown-panel"
            >
              <mat-option
                *ngFor="let opzione of opzioniZonaOperativa"
                [value]="opzione"
              >
                {{ opzione }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="mat-form-field" formControlName="luogo_op">
            <mat-label>Luogo Operativo</mat-label>
            <mat-select
              [(ngModel)]="luogoOperativo"
              name="luogoOperativo"
              panelClass="dropdown-panel"
            >
              <mat-option
                *ngFor="let opzione of opzioniLuogoOperativo"
                [value]="opzione"
              >
                {{ opzione }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="mat-form-field" formControlName="fascia_op">
            <mat-label>Fascia Operativa</mat-label>
            <mat-select
              [(ngModel)]="fasciaOperativa"
              name="fasciaOperativa"
              panelClass="dropdown-panel"
            >
              <mat-option
                *ngFor="let opzione of opzioniFasciaOperativa"
                [value]="opzione"
              >
                {{ opzione }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button class="btn btn-dark">Salva</button>
    </form>
  </div>

  <hr />

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Nazionalità</th>
        <th scope="col">Genere</th>
        <th scope="col">Anno di Nascita</th>
        <th scope="col">N° telefono</th>
        <th scope="col">Città</th>
        <th scope="col">Indirizzo</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">Claudio</td>
        <td>Italia</td>
        <td>Maschile</td>
        <td>1982</td>
        <td>32323232</td>
        <td>Rovereto</td>
        <td>Via Leditadalnaso</td>
        <td>cicciolina@gmail.com</td>
      </tr>
      <tr>
        <td scope="row">Franco</td>
        <td>Italia</td>
        <td>Maschile</td>
        <td>1982</td>
        <td>32323232</td>
        <td>Rovereto</td>
        <td>Via Leditadalnaso</td>
        <td>cicciolina@gmail.com</td>
      </tr>
    </tbody>
  </table>
</div>
